@(id: Long)

@import helper._

@main ("Visualizar questionário") {
    
    <h1>Visualizar questionário</h1>
    
	    @if(flash.containsKey("success")) {
	        <div class="alert-message warning">
	            <strong>Feito!</strong> @flash.get("success")
	        </div>
	    }
        
	    <table class="questionarios zebra-striped">
	        <tbody>
	            <tr>
	                <td>Descrição:</td>
	                <td>Questionário @id</td>
	            </tr>
	        </tbody>
	    </table>
        
        <div class="actions">
            <a href="@br.pet.questionario.controllers.routes.Questionarios.editar(id)" class="btn">Editar</a> ou
            <a href="@br.pet.questionario.controllers.routes.Questionarios.listar()" class="btn">Voltar</a> 
        </div>
    
    @form(br.pet.questionario.controllers.routes.Questionarios.remover(id), 'class -> "topRight") {
        <input type="submit" value="Remover" class="btn danger">
    }
    
}
