@(id: Long)

@import helper._

@main("Visualizar questionário") {
    
    <h1>Visualizar questionário</h1>
    
	    @if(flash.containsKey("success")) {
	        <div class="alert-warning">
	            <strong>@flash.get("success")</strong>
	        </div>
	    }

        <fieldset>

            <div class="clearfix">
                <label for="descricao">Descrição</label>
                <div id="descricao" name="descricao" class="view">
                    Questionário @id
                </div>
            </div>

        </fieldset>
         
        <div class="actions">
            <a href="@br.pet.questionario.controllers.routes.Questionarios.editar(id)" class="btn btn-default">Editar</a> ou
            <a href="@br.pet.questionario.controllers.routes.Questionarios.listar()" class="btn btn-default">Voltar</a> 
        </div>
    
    @form(br.pet.questionario.controllers.routes.Questionarios.remover(id), 'class -> "topRight") {
        <input type="submit" value="Remover" class="btn btn-default btn-danger">
    }
    
}