@(id: Long, questionarioForm: Form[br.pet.questionario.models.QuestionarioImpl])

@import helper._

@main ("Editar questionário") {
    
    <h1>Editar questionário</h1>
    
    @form(br.pet.questionario.controllers.routes.Questionarios.atualizar(id)) {
    
        <fieldset>
        
            @inputText(questionarioForm("descricao"), '_label -> "Descrição", '_help -> "")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Atualizar" class="btn primary"> or 
            <a href="@br.pet.questionario.controllers.routes.Questionarios.visualizar(id)" class="btn">Cancelar</a> 
        </div>
        
    }
    
}
