@(questionarioForm: Form[br.pet.questionario.models.QuestionarioImpl])

@import helper._

@main ("Criar questionário") {
    
    <h1>Criar questionário</h1>
    
    @form(br.pet.questionario.controllers.routes.Questionarios.salvar()) {
    
        <fieldset>
        
            @inputText(questionarioForm("descricao"), '_label -> "Descrição", '_help -> "")

        </fieldset>
    
        
        <div class="actions">
            <input type="submit" value="Salvar" class="btn primary"> or 
            <a href="@br.pet.questionario.controllers.routes.Questionarios.listar()" class="btn">Cancelar</a> 
        </div>
        
    }
    
}