@main("Questões") {
    
    <h1 id="homeTitle">Questões</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-warning">
            <strong>@flash.get("success")</strong>
        </div>
    } 

    <div id="actions">
        <a class="btn btn-default btn-success" id="add" href="@br.pet.questionario.controllers.routes.Questoes.novo()">Criar questão</a>
    </div>
        
    <table class="questoes table table-responsive table-bordered table-striped">
        <thead>
            <tr>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="@br.pet.questionario.controllers.routes.Questoes.visualizar(1)">Questão 1</a></td>
            </tr>
            <tr>
                <td><a href="@br.pet.questionario.controllers.routes.Questoes.visualizar(2)">Questão 2</a></td>
            </tr>
        </tbody>
    </table>
        
}            