@main("Questionários") {
    
    <h1 id="homeTitle">Questionários</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-warning">
            <strong>@flash.get("success")</strong>
        </div>
    } 

    <div id="actions">
        <a class="btn btn-default btn-success" id="add" href="@br.pet.questionario.controllers.routes.Questionarios.novo()">Criar questionário</a>
    </div>
    
    <table class="questionarios table table-responsive table-bordered table-striped">
        <thead>
            <tr>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="@br.pet.questionario.controllers.routes.Questionarios.visualizar(1)">Questionário 1</a></td>
            </tr>
            <tr>
                <td><a href="@br.pet.questionario.controllers.routes.Questionarios.visualizar(2)">Questionário 2</a></td>
            </tr>
        </tbody>
    </table>
        
}            